#upload-container {
  margin: 16px;
}

#upload-img-placeholder {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 200px;
  border: 1px solid #ddd;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 254, 254);
}

#upload-img-placeholder > img {
  width: 50px;
  height: 50px;
}

#upload-img-placeholder > span {
  color: rgb(209, 194, 194);
}

.upload-name {
  width: 250px;
}

.upload-label {
  width: 80px;
  font-size: 18px;
}

.label-pic {
  margin-left: 10px;
}

.upload-button {
  float: right;
  margin-top: 15px;
  border-radius: 10px;
  background-color: dodgerblue;
  color: white;
}
